{% extends 'index/base.html' %}
{% set title = g.tag_url | chname %}
{% block title %}{{ title }}- 河海大学论坛{% endblock %}
{% block content %}
<style type="text/css" media="all">
    select {
        background-color: #fff;
        border-color: #c6c6c6;
        color: #141414;
    }
    .question {
        display: inline-block;
        background-color: #2e609b;
        padding: 2px;
        border: 1px solid #2e609b;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        border-radius: 2px;
        margin-right: 5px;
        vertical-align: 1px;
        text-decoration: none;
        color: #FBFBFB;
    }
</style>
{% if g.campus_url == 'hhu' or g.campus_url == 'hhuc' %}
{% import 'campus/panel.html' as panel %}
{{ panel.ol(category=g.class_url) }}
{% else %}
{% import 'base/panel.html' as panel %}
{{ panel.ol() }}
{% endif %}

{% if g.tag_url == 'notice' or g.tag_url == 'develop' %}
{% else %}
<a class="btn btn-primary" href="{{ url_for('tags.question') }}" style="padding:2px 6px;">
    发帖
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</a>
{% endif %}
{% include 'tags/tags_sort_js.html' %}
{% include 'base/view.html' %}
<div class="panel-body" style="padding:0 10px 0 25px;">
    <ul class="pager" style="margin:0;">
        {% if pages == 0 %}
        没有帖子
        {% else %}
        {% if number == 1 and pages ==1 %}
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        {% elif number == 1 and pages != 1 %}
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        <li class="next"><a href="{{ url_for('tags.index',pid=number + 1) }}">下一页<span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        {% if number == pages %}
        <li class="previous"><a href="{{ url_for('tags.index',pid=number-1) }}"><span aria-hidden="true">&larr;</span>上一页</a></li>
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        {% else %}
        <li class="previous"><a href="{{ url_for('tags.index',pid=number-1) }}"><span aria-hidden="true">&larr;</span>上一页</a></li>
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        <li class="next"><a href="{{ url_for('tags.index',pid=number + 1) }}">下一页<span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
        {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}
