{% import 'base/link.html' as link %}

{% macro tags(topic) -%}
{% for tag in topic.tags %}
{{ link.tag(tag) }}
{% endfor %}
{%- endmacro %}


{% macro last_reply(topic) -%}
<span style="margin-left:10px;">
  {% set last_reply = topic.replies.first() %}
  {{ topic.author.username }}
  {{ _('published at %(time)s',time = topic.created_at | timesince ) }}
  {% if last_reply %}
  · {{ _('The last reply published by %(author)s at %(time)s',author=link.user(last_reply.author.username),time=last_reply.created_at | timesince)}}
  {% endif %}
</span>
{%- endmacro %}

{% macro title(topic) -%}
{{ tags(topic) }}
{{ last_reply(topic) }}
{%- endmacro %}
