bleach==1.4.3
cssmin==0.2.0
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Assets==0.11
Flask-Avatar==0.1.0
Flask-BabelEx==0.9.3
Flask-Cache==0.13.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gevent==1.1.1
gunicorn==19.4.5
hiredis==0.2.0
Jinja2==2.8
jsmin==2.2.0
misaka==2.0.0
Pillow==3.2.0
psycopg2==2.6.1
Pygments==2.1
redis==2.10.5
