{% extends 'base/base.html' %}
{% import 'base/link.html' as link_base %}
{% block content %}
{{ breadcrumb(active=_('All Tags'))}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{_('All Tags')}}
            </div>
            {% if tags %}
            <div class="panel-body">
                {% for tag in tags %}
                {{ link_base.tag(tag) }}
                {% endfor %}
            </div>
            {% else %}
            <div class="panel-body text-center">
                {{_('No Tag')}}
                暂无标签
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.tag_list() }}
    </div>
</div>
{% endblock %}
