{% extends 'index/base.html' %}
{% block title %}社区主页 - 河海大学论坛{% endblock %}
{% block content %}
{% import 'base/panel.html' as panel %}
{% import 'base/link.html' as link %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li class="active">用户组</li>
</ol>
{% for group in groups %}
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ group.kind }}
    </div>
    <div class="panel-body row" style="border-bottom:1px solid #f6e1e1;">
        {% for t in group.kind | groups %}
        <div class="col-md-3">
            <a href="{{ url_for('group.group',group=t.name) }}">{{ t.name }}</a>
            <div style="font-size:12px;">
            <span style="color:#999;">主题:</span>
            <span>{{ t.count.topic }}</span>
            <span style="color:#999;">帖子:</span>
            <span>{{ t.count.all_topic }}</span>
            </div>
            <div style="font-size:12px;color:#999">创建者:{{ link.user(t.create_author) }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
