<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="col-md-8">
            收藏夹名
        </div>
        <div class="col-md-4">
            收藏数
        </div>
    </div>
    {% if collects.items %}
    {% if setting.collect_list == 1 or (setting.collect_list == 2 and g.user.is_authenticated) or (g.user.is_authenticated and g.user.username == g.user_url) %}
    {% for collect in collects.items %}
    <div class="panel-body" style="border-bottom:1px solid #eee">
        <div class="row" style="margin:0">
            <div class="col-md-8">
                <a href="{{ url_for('user.collect_detail',collectId =collect.id)}}">{{ collect.name }}</a>
            </div>
            <div class="col-md-4">
                {% if g.user.is_authenticated -%}
                <span class="pull-right">
                    {% if collect in current_user.following_collects -%}
                    <button class="btn btn-sm btn-default collectfollow active" id="{{ collect.id}}" style="padding:0 5px">取消关注</button>
                    {%- else %}
                    <button class="btn btn-sm btn-default collectfollow" id="{{ collect.id}}" style="padding:0 5px">关注</button>
                    {%- endif %}
                </span>
                {%- endif %}
                <span style="margin-left:20px">
                    {{ collect.topics.count() }}
                </span>
            </div>
        </div>
    </div>
    {% endfor  %}
    {{ p_footer(collects,'user.collect')}}
    {% else %}
    <div class="panel-body" style="border:1px dashed #337ab7;margin:5px;">
        <span class="text-center" style="display:block;width:100%;color:#999">
            <span class="glyphicon glyphicon-lock" aria-hidden="true" style="font-size:16px;"></span>
            {{_("Due to user's setting,the list have been hidden.")}}
        </span>
    </div>
    {% endif %}
    {% else %}
    <div class="panel-body text-center">
        {{_('No Collect')}}
    </div>
    {% endif %}
</div>
