{% extends 'maple/base.html' %}
{% from 'base/paginate.html' import paginate%}
{% from 'base/paginate.html' import footer as p_footer %}
{% import 'base/link.html' as link_base %}
{% import 'base/panel.html' as panel_base %}
{% from 'base/head.html' import breadcrumb %}
{% block title -%}
{%- set n = notice_count() -%}
{%- if n -%}
({{ n }})
{%- endif -%}
{{ title }} {{ Title.title }} - {{ _(Title.description) }}
{%- endblock title %}
{% block main %}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#fff">
    <div class="container-fluid col-md-offset-1 col-md-10">
        <div class="navbar-header" style="padding-top:5px;">
            <a class="navbar-brand" href="{{ url_for('forums.index')}}" style="padding:0px">
                <img alt="Honmaple" src="{{url_for('static',filename='images/header.png')}}" style="width:42px;">
            </a>
            <div class="navbar-brand" style="padding-top:2;padding-left:16px;margin-top:-12px;">
                <span style="font-size:20px;color:#EB5424"><b class="text-capitalize">{{ Title.title}}</b></span>
                <br/>
                <small style="font-size:10px">{{ _(Title.description) }}</small>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('forums.forums')}}">{{ _('Forums')}}</a></li>
                <li><a href="{{ url_for('docs.docs')}}">{{ _('Wiki') }}</a></li>
                <li><a href="#">{{ _('Blog') }}</a></li>
                <li><a href="{{ url_for('topic.good')}}">{{ _('Good') }}</a></li>
            </ul>
            <form onsubmit="return dispatch()" class="navbar-form navbar-right" style="margin-top:10px;" >
                <div class="form-group has-feedback">
                    {{ g.search_form.search(class="form-control input-sm",placeholder=_("search content")) }}
                    <i class="icon-search form-control-feedback"></i>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="col-md-offset-1 col-md-10" style="padding:0;margin-top:60px">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    {% if category == 'message' -%}
    {% set category = 'info' %}
    {%- endif %}
    <div class="alert alert-{{ category }}" style="padding:8px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <li style="list-style-type:none">{{ message }} </li>
        </ul>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% if g.user.is_authenticated %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.username }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('user.user',user_url=current_user.username) }}">{{ _('My Page') }}</a></li>
            <li><a href="{{ url_for('setting.setting') }}">{{ _('Setting')}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout')}}</a></li>
        </ul>
    </div>
    {% else  %}
    {{ a_pull_right('auth.register',_('Register')) }}
    {{ a_pull_right('auth.login',_('Login'))}}
    {% endif %}
    {{ a_pull_right('tag.tag',_('All Tags'))}}
    {{ a_pull_right('forums.userlist',_('Userlist'))}}
    <a href="{{ url_for('forums.notice')}}"><span class="btn btn-sm btn-primary pull-right">
        {{ _('Notices') }}
        <span class="badge">
            {%- set n = notice_count() -%}
            {%- if n -%}
            {{ n }}
            {%- endif -%}
        </span>
    </span></a>
    {% block content %} {% endblock %}
</div>
{% endblock %}

{% macro a_pull_right(url,name) -%}
<a href="{{ url_for(url) }}" class="btn btn-sm btn-primary pull-right">{{ name }}</a>
{%- endmacro %}
