{% macro navlist(url,title) -%}
  <li><a href="{{ url }}">{{ title }}</a></li>
{%- endmacro %}


{% macro dropdown() -%}
  <style>
   .navbar-right .dropdown-menu {
       left: 0;
   }
   .navbar .nav > li:hover .dropdown-menu {
       display: block;
   }
   .dropdown-menu {
       min-width: 120px !important;
   }
  </style>
  {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('message.list') }}" style="padding:15px 5px;">
        <i class="fa fa-bell-o"></i>
        {%- set n = current_user.message_count -%}
        {%- if n and n != '0' -%}
          <span class="badge" style="padding:2px 5px;">
            {{ n }}
          </span>
        {%- endif -%}
      </a>
    </li>
    <li class="dropdown">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border:none;">
        {{ current_user.username }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('user.user',username=current_user.username) }}">{{ _('Home Page') }}</a></li>
        <li><a href="{{ url_for('setting.setting') }}">{{ _('Setting')}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout')}}</a></li>
      </ul>
    </li>
  {% else  %}
    <a class="btn btn-default btn-sm navbar-btn" href="{{ url_for('auth.register') }}">注册</a>
    <a class="btn btn-default btn-sm navbar-btn" href="{{ url_for('auth.login') }}">登录</a>
  {% endif %}
{%- endmacro %}

<nav class="navbar navbar-default navbar-fixed-top" style="background:#fff">
  <div class="container-fluid col-md-offset-1 col-md-10">
    <div class="navbar-header" style="padding-top:5px;">
      <a class="navbar-brand" href="{{ url_for('forums.index')}}" style="padding:0px">
        <img alt="Honmaple" src="{{url_for('static',filename='images/header.png')}}" style="width:48px;">
      </a>
      <div class="navbar-brand" style="padding-top:2;padding-left:16px;margin-top:-12px;">
        <span style="font-size:20px;color:#EB5424"><b class="text-capitalize">{{ DEFAULT.SITE['title'] }}</b></span>
        <br/>
        <small style="font-size:10px">{{ _(DEFAULT.SITE['subtitle']) }}</small>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-header" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="collapse-header">
      <ul class="nav navbar-nav">
        {% for item in DEFAULT.HEADER %}
          <li><a href="{% if item.url.startswith("http") %}{{ item.url }}{% else %}{{ url_for(item.url) }}{% endif %}">{{ _(item.name) }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-left:0px;">
        {{ dropdown() }}
      </ul>
      <form action="{{ url_for('search.search') }}" class="navbar-form navbar-right" style="margin-top:10px;" >
        <div class="form-group has-feedback">
          <input class="form-control input-sm" name="keyword" placeholder="搜索内容" type="text" value="">
          <i class="fa fa-search form-control-feedback"></i>
        </div>
      </form>
    </div>
  </div>
</nav>
