{% macro navlist(url,title) -%}
<li><a href="{{ url }}">{{ title }}</a></li>
{%- endmacro %}

<nav class="navbar navbar-default navbar-fixed-top" style="background:#fff">
    <div class="container-fluid col-md-offset-1 col-md-10">
        <div class="navbar-header" style="padding-top:5px;">
            <a class="navbar-brand" href="{{ url_for('forums.index')}}" style="padding:0px">
                <img alt="Honmaple" src="{{url_for('static',filename='images/header.png')}}" style="width:42px;">
            </a>
            <div class="navbar-brand" style="padding-top:2;padding-left:16px;margin-top:-12px;">
                <span style="font-size:20px;color:#EB5424"><b class="text-capitalize">{{ Title.title}}</b></span>
                <br/>
                <small style="font-size:10px">{{ _(Title.description) }}</small>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{ navlist(url_for('forums.forums'),_('Forums')) }}
                {{ navlist(url_for('docs.list'),_('Wiki')) }}
                {{ navlist('#',_('Blog')) }}
                {{ navlist(url_for('topic.good'),_('Good')) }}
            </ul>
            <form onsubmit="return dispatch()" class="navbar-form navbar-right" style="margin-top:10px;" >
                <div class="form-group has-feedback">
                    {{ g.search_form.search(class="form-control input-sm",placeholder=_("search content")) }}
                    <i class="fa fa-search form-control-feedback"></i>
                </div>
            </form>
        </div>
    </div>
</nav>

