{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript" charset="utf-8">
 var sortData = {
     "type" : 'all',
     "page" : '{{ topics.page }}',
     "uid" : ""
 }
</script>
{{ super()}}
{% endblock %}
{% block content %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li class="active">所有主题</li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics)}}
            {% if topics.pages > 1 %}
            <div class="panel-footer">
                {{ paginate(topics,'topic.topic')}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {% include 'base/panel.html' %}
    </div>
</div>
{% endblock %}
