{% extends 'base/base.html' %}
{% block script %}
{{ super()}}
<script type=text/javascript>
 var collectData = {
     'collect_url':"{{ url_for('mine.collect')}}",
     'collect_action_url':"{{ url_for('mine.collect',collectId = collect.id)}}",
     'collect_detail_url':"{{ url_for('mine.collect_detail')}}",
     'collect_detail_action_url':"{{ url_for('mine.collect_detail',collectId = collect.id)}}"
 }
 DoCollect(collectData);
</script>
{% endblock %}
{% block content %}
{{ breadcrumb(hrefs={_('My Collects'):url_for('mine.collect')},active=collect.name)}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">
                    <a class="btn btn-default btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#editcollect">{{ _('edit') }}</a>
                    <a class="btn btn-default btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#deletecollect">{{ _('delete')}}</a>
                </span>
                <h4> <strong>{{ collect.name }}</strong></h4>
            </div>
            {% if topics.items %}
            {% for topic in topics.items %}
            <div class="panel-body" style="border-bottom:1px solid #eee">
                <a href="{{ url_for('topic.topic',topicId=topic.uid)}}">{{ topic.title}}</a>
                <span id="delete-from-collect" class="pull-right btn btn-sm btn-danger" data-id="{{ topic.uid }}">{{_('delete')}}</span>
            </div>
            {% endfor %}
            {% else %}
            <div class="panel-body">
                <span class="text-center" style="display:block;width:100%;color:#999">
                    {{_('No Collect')}}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.collect() }}
    </div>
</div>
<div class="modal fade" id="editcollect" tabindex="-1" role="dialog" aria-labelledby="editcollectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editcollectLabel">{{_('Edit the collect')}}</h4>
            </div>
            <form id="editcollectform">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class="form-control")}}
                    </div>
                    {% for subfield in form.is_privacy %}
                    <div class="form-group">
                        {{subfield}}
                        {{subfield.label}}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('cancel')}}</button>
                    <button type="button" id="edit-collect-form" class="btn btn-primary">{{_('confirm')}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deletecollect" tabindex="-1" role="dialog" aria-labelledby="deletecollectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deletecollectLabel">{{_('Delete this collect')}}</h4>
            </div>
            <div class="modal-body">
                <p>确认要删除收藏夹「flask相关」么？</p>
                注意：收藏夹下的收藏也会被删除！
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_('cancel')}}</button>
                <button type="button" id="delete-collect-form" class="btn btn-danger">{{_('confirm')}}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
