{% macro tag(tag) -%}
<span class="label label-default tag">
    <a href="{{ url_for('tag.tag',tag=tag.tagname)}}">{{ tag.tagname }}</a>
</span>
{%- endmacro %}
{% macro topic(topic) -%}
<a href="{{ url_for('topic.topic',uid=topic.uid)}}">{{ topic.title}}</a>
{%- endmacro %}
{% macro user(username) -%}
<a href="{{ url_for('user.user',user_url=username)}}">{{ username}}</a>
{%- endmacro %}
{% macro board(board) -%}
<a href="{{ url_for('board.board',parent_b=board.parent_board,child_b=board.board)}}">{{ board.board }}</a>
{%- endmacro %}
{% macro collect(collect) -%}
<a href="{{ url_for('mine.collect',uid=collect.id)}}">{{ collect.name }}</a>
{%- endmacro %}
{% macro collect_list() -%}
<a href="{{ url_for('mine.collect') }}">我创建的收藏夹</a>
{%- endmacro %}
{% macro collect_following() -%}
<a href="{{ url_for('mine.collect_following')}}">我关注的收藏夹</a>
{%- endmacro %}
{% macro following_tag() -%}
<a href="{{ url_for('mine.follow',type="tag")}}">关注的节点</a>
{%- endmacro %}
{% macro following_topic() -%}
<a href="{{ url_for('mine.follow',type="topic")}}">关注的问题</a>
{%- endmacro %}
{% macro following_user() -%}
<a href="{{ url_for('mine.follow',type="user")}}">关注的用户</a>
{%- endmacro %}
{% macro following_collect() -%}
<a href="{{ url_for('mine.follow',type="collect")}}">关注的收藏夹</a>
{%- endmacro %}
{% macro avatar(author) -%}
{% set infor = author.infor %}
{% if not infor.avatar -%}
{{ url_for('avatar',text = author.username )}}
{% else %}
{{ url_for('upload.avatar_file',filename=infor.avatar) }}
{%- endif %}
{%- endmacro %}
