{% macro tag(tag) -%}
<a class="tag" href="{{ url_for('tag.tag',tag=tag.tagname)}}">{{ tag.tagname }}</a>
{%- endmacro %}
{% macro topic(topic) -%}
<a href="{{ url_for('topic.topic',topicId=topic.uid)}}">{{ topic.title}}</a>
{%- endmacro %}
{% macro user(username) -%}
<a href="{{ url_for('user.user',user_url=username)}}">{{ username}}</a>
{%- endmacro %}
{% macro board(board) -%}
<a href="{{ url_for('board.board',parent_b=board.parent_board,child_b=board.board)}}">{{ board.board }}</a>
{%- endmacro %}
{% macro collect(collect) -%}
<a href="{{ url_for('mine.collect',collectId=collect.id)}}">{{ collect.name }}</a>
{%- endmacro %}
{% macro collect_list() -%}
<a href="{{ url_for('mine.collect') }}">{{ _('My Created Collects') }}</a>
{%- endmacro %}
{% macro collect_following() -%}
<a href="{{ url_for('mine.collect_following')}}">{{ _('Following Collects')}}</a>
{%- endmacro %}
{% macro following_tag() -%}
<a href="{{ url_for('mine.follow',type="tag")}}">{{ _('Following Tags') }}</a>
{%- endmacro %}
{% macro following_topic() -%}
<a href="{{ url_for('mine.follow',type="topic")}}">{{ _('Following Topics')}}</a>
{%- endmacro %}
{% macro following_user() -%}
<a href="{{ url_for('mine.follow',type="user")}}">{{ _('Following Users')}}</a>
{%- endmacro %}
{% macro following_collect() -%}
<a href="{{ url_for('mine.follow',type="collect")}}">{{ _('Following Collects')}}</a>
{%- endmacro %}
{% macro avatar(author) -%}
{% set infor = author.infor %}
{% if not infor.avatar -%}
{{ url_for('avatar',text = author.username )}}
{% else %}
{{ url_for('upload.avatar_file',filename=infor.avatar) }}
{%- endif %}
{%- endmacro %}
