{% if g.user.is_authenticated %}
<ul class="list-group">
    <a class="list-group-item list-group-item-info" href="{{ url_for('topic.ask')}}">
        <span class="btn btn-info btn-block">提问</span>
    </a>
</ul>
<div class="list-group">
    <a href="{{ url_for('mine.collect')}}" class="list-group-item">
        我的收藏
        <span class="badge">14</span>
    </a>
    <a href="{{ url_for('mine.follow')}}" class="list-group-item">
        我关注的
        <span class="badge">14</span>
    </a>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        maplebb
    </div>
    <div class="panel-body text-center">
        <a class="btn btn-primary" href="{{ url_for('auth.register')}}">
            <i class="icon-user"></i>
            现在注册
        </a>
    </div>
    <div class="panel-footer text-center">
        已注册用户请 <a href="{{ url_for('auth.login')}}">登陆</a>
    </div>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        推荐帖子
    </div>
    <div class="panel-body text-center">
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        统计信息
    </div>
    <ul class="list-group">
        <li class="list-group-item">社区会员: 26972 人</li>
        <li class="list-group-item">帖子数: 30235 个</li>
        <li class="list-group-item">回帖数: 297982 条</li>
    </ul>
</div>
