{% macro base() -%}
{% if g.user.is_authenticated %}
<ul class="list-group">
    <a class="list-group-item list-group-item-info" href="{{ ask_url or url_for('topic.ask')}}">
        <span class="btn btn-info btn-block">提问</span>
    </a>
</ul>
<div class="list-group">
    <a href="{{ url_for('mine.collect')}}" class="list-group-item">
        我的收藏
    </a>
    <a href="{{ url_for('mine.follow')}}" class="list-group-item">
        我关注的
    </a>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        Honmaple
    </div>
    <div class="panel-body text-center">
        <a class="btn btn-primary" href="{{ url_for('auth.register')}}">
            <i class="icon-user"></i>
            现在注册
        </a>
    </div>
    <div class="panel-footer text-center">
        已注册用户请 <a href="{{ url_for('auth.login')}}">登陆</a>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro board_list() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro board() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro collect() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro follow() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro tag_list() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro tag_panel() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro topic_list() -%}
{{ base() }}
{{ count() }}
{%- endmacro %}

{% macro index() -%}
{{ base() }}
{{ tags_panel('热门节点',hot_tags) }}
{{ tags_panel('最近新增节点',recent_tags) }}
{{ count() }}
{%- endmacro %}
{% macro tags_panel(text,tags) -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ text }}</h3>
    </div>
    <div class="panel-body text-center tags">
        {% set tags = tags() %}
        {% for tag in tags -%}
        <a href="{{ url_for('tag.tag',tag=tag)}}" class="item_node">{{ tag }}</a>
        {%- endfor %}
    </div>
</div>
{%- endmacro %}
{% macro count() -%}
<div class="panel panel-default">
    <div class="panel-heading">
        统计信息
    </div>
    <ul class="list-group">
        <li class="list-group-item">社区会员:0  人</li>
        <li class="list-group-item">帖子数: 0 个</li>
        <li class="list-group-item">回帖数: 0 条</li>
    </ul>
</div>
{%- endmacro %}

{% macro panel(heading,body) -%}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ heading }}
    </div>
    <div class="panel-body text-center">
        {{ body }}
    </div>
</div>
{%- endmacro %}
