{% import 'base/link.html' as link %}
<div class="panel-body" style="padding-top:0;">
    {% if questions %}
    {% for question in questions %}
    <div class="row" style="padding:5px 0;border-bottom:1px solid #f6e1e1;">
        <div class="col-md-9">
            {{ link.question(question) }}
            <br/>
            {% for tag in question.tags %}
            <span class="label label-default" style="font-size:12px;background:rgba(1,126,102,.08);color:#337ab7">{{ link.tag(tag.name) }}</span>
            {% endfor %}
        </div>
        <div class="col-md-1">
            <span style="font-size:12px"> {{ link.user(question.author.name) }}</span>
            <span style="font-size:12px;color:#999;">
                {{ question.time.strftime('%Y-%m-%d') }}
            </span>
        </div>
        <div class="col-md-1 hidden-xs">
            <span>1</span>
            <br>
            <span style="font-size:12px;color:#999;">
                1
            </span>
        </div>
        <div class="col-md-1 hidden-xs">
            <span style="font-size:12px">{{ link.user(question.last_author) }}</a></span>
            <span style="font-size:12px;color:#999;">
                {{ question.last_time.strftime('%Y-%m-%d') }}
            </span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
