{% macro infor(author) -%}
<table style="font-size:12px;">
    <tr>
        <td>称号:</td>
        <td>{{ author.name }}</td>
    </tr>
    <tr>
        <td>注册时间:</td>
        <td>{{ author.infor.registered_time.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr>
        <td>积分:</td>
        <td>{{ author.infor.score }}</td>
    </tr>
    <tr>
        <td>等级:</td>
        <td>{{ author.roles.first().name }}</td>
    </tr>
    <tr>
        <td>帖子:</td>
        <td><a href="{{ url_for('user.index',user_url=author.name,_anchor='topic_list') }}">2</a></td>
    </tr>
</table>
{%- endmacro %}
