{% import 'base/link.html' as link %}
{% for topic in topics.items %}
<style>
 .avatar-48 {
     width:48px;
     height:48px
 }
</style>
{% set last_reply = topic.id | get_last_reply %}
{% set username = topic.author.username %}
<div class="topic media">
    <div class="avatar media-left">
        <a href="/sundevilyang"><img class="media-object avatar-48" src="{{ url_for('static',filename='images/hehai.png')}}" alt="1805"></a>
    </div>
    <div class="media-body">
        <div class="media-heading">
            <a  href="{{ url_for('topic.topic',uid=topic.uid)}}" style="font-size:15px;color:#333">{{ topic.title}}</a>
            <i class="fa fa-thumb-tack" title="置顶"></i>
        </div>
        <small style="color:#999">
            {% for tag in topic.tags %}
            {{ link.tag(tag)}}
            {% endfor %}
            <a href="{{ url_for('user.user',user_url=username)}}" style="color:#999">{{ username}}</a>
            {% if last_reply %}
            {% set name = last_reply.author.username %}
            <span class="hidden-mobile">
                最后由 <a data-name="jasl" href="{{ url_for('user.user',user_url=name)}}" style="color:#999">{{ name }}</a>
                于 <abbr class="timeago" title="{{ last_reply.publish }}">1 小时前</abbr>回复
            </span>
            {% else %}
            <span class="hidden-mobile">
                于 <abbr class="timeago" title="{{ topic.publish }}">1 小时前</abbr>发布
            </span>
            {% endif %}
        </small>
    </div>
    <div class="count media-right">
        <a class="state-false" href="/topics/29957#reply29">29</a>
    </div>
</div>
{% endfor %}
