{% extends "base/base.html" %}
{% block content %}
{% import 'maple/auth.html' as auth %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li class="active">忘记密码</li>
</ol>
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{{ url_for('auth.forget') }}" style="color:#fff">忘记密码</a>
    </div>
    <div class="panel-body">
        {{ auth.forget(form)}}
    </div>
</div>
{% endblock %}
