{% extends "index/base.html" %}
{% block title %}注册 - 河海大学论坛{% endblock %}
{% block content %}
<script type=text/javascript>
$(document).ready(function(){
    $('button#agree').click(function() {
        window.location = '{{ url_for('auth.register',mode='agree') }}';
    });
    $('button#disagree').click(function() {
        window.location = '{{ url_for('forums.index') }}';
    });
});
</script>
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li class="active">注册</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading" style="background:#2e609b;">
        <a href="{{ url_for('auth.register') }}" style="color:#fff">服务条款</a>
        (你必须接受以下条款才能完成注册)
    </div>
    <div class="panel-body" style="border-bottom:1px solid #f6e1e1;">
        <p>感谢您注册河海大学论坛，欢迎加入我们!</p>
        ------------------------------------------------------------------- <br>
        在您继续之前，您应当首先了解如下信息:
        <p>
        1. 我们绝不会将您的隐私信息公开给任何第三方。本论坛密码使用单向加密验证,如果密码丢失，
        请使用取回密码并及时修改密码。
        </p>
        <p>
        2. 请您在发帖时遵守当地相关法规，
        不张贴任何带有辱骂，淫秽，粗俗，诽谤，仇恨，威胁，色情的内容，
        或者任何带有侵犯国家的法律的内容。 <br>如果有以上行为，
        你使用的IP地址也将被记录并禁止访问。
        </p>
        <p>
        3. 我们将非常感谢您能够为本社区提出反馈建议批评,或者参与社区工作，
        如果您有任何建议和想法请在反馈建议板块发帖，或者联系我 <br> admin@honmaple.com <br>
        </p>
        <p>
        <i>我也是河海大学的学生，第一次写论坛，有的地方还不够完善,请为我提供建议</i>
        </p>
        <button type="button" id="agree" class="btn btn-sm btn-default"> <b>我同意这些条款</b></button>
        <button type="button" id="disagree" class="btn btn-sm btn-default">我不同意这些条款</button>
    </div>
</div>
{% endblock %}
