{% extends 'index/base.html' %}
{% block title %}{{ question.title }} - 河海大学论坛{% endblock %}
{% block content %}
{% import 'base/user.html' as user %}
{% import 'base/panel.html' as panel %}
{% import 'base/link.html' as link %}
<script type=text/javascript>
function Love(obj){
    var urlId = obj.id.replace(/[^0-9]/ig,""); 
    $.post ("{{ url_for('question.love') }}",{
        rid:urlId
    },
    function(result) {
        if (result.judge = true)
        {
            window.location.reload();
        }
    });
};
function ReReplies(obj){
    var urlId = obj.id.replace(/[^0-9]/ig,""); 
    $.post("{{ url_for('question.rreply') }}",{
        rid:urlId
    },
    function(data) {
        $("#content").focus();
        $('#quote').html(data)
    });
};
$(document).ready(function(){
    $('a#collect').click(function(){
        $.post ("{{ url_for('question.collect') }}",{
            qid:'{{ question.id }}'
        },
        function(result) {
            if (result.judge = true)
            {
                window.location.reload();
            }
        });
    });
    $('button#ajax').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ url_for('question.reply',qid=question.id) }}",
            data:JSON.stringify({
                content: $('#content').val(),
                quote: $('#quote').html()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location.reload();
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
});
</script>
<style type="text/css" media="all">
    h1 {
        font-size:24px;
    }
    h2 {
        font-size:20px;
    }
    h3 {
        font-size:18px;
    }
    h4 {
        font-size:16px;
    }
    img {
        width:120px;
        height:auto;
    }
    blockquote {
        font-size:12px;
        background:#f8f8f8;
        border-radius:5px;
        padding-bottom:0;
    }
</style>
{{ panel.ol(kind,question) }}
<div class="panel panel-info container-fluid" style="padding:0;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                {{ link.user(question.author.name) }}
                {% if question.author.is_superuser %}
                <span style="font-size:12px;color:#999">(网站管理员)</span>
                {% endif %}
            </div>
            <div class="col-md-10" style="font-size:12px;">
                发表于 {{ question.time.strftime('%Y-%m-%d %H:%M:%S') }}
                <div style="float:right;">
                    <span> 1# </span>
                    <span style="font-size:12px;"> 
                        {% if question.id | judge('collect') %}
                        <a href="javascript:void(0);" id="collect">取消收藏</a>
                        {% else %}
                        <a href="javascript:void(0);" id="collect">加入收藏</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:0">
        <div class="panel-body col-md-2 hidden-xs" style="border-right:1px solid #d9edf7;">
            {{ user.infor(question.author) }}
        </div>
        <div class="panel-body col-md-10">
            {% if question.is_markdown %}
            {{ question.content | safe_markdown }}
            {% else %}
            {{  question.content  }}
            {% endif %}
        </div>
    </div>
    {% set num = 1 %}
    {% for reply in question.replies %}
    {% set num = num + 1 %}
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                {{ link.user(reply.author.name) }}
            </div>
            <div class="col-md-9" style="font-size:12px;">
                发表于 {{ reply.time.strftime('%Y-%m-%d %H:%M:%S') }}
            </div>
            <div class="col-md-1">
                {{ num }}#
            </div>
        </div>
    </div>
    <div class="row" style="position:relative;margin:0;">
        <div class="panel-body col-md-2 hidden-xs" style="border-right:1px solid #d9edf7;">
            {{ user.infor(reply.author) }}
        </div>
        <div class="panel-body col-md-9">
            {{ reply.quote | safe_clean }}
            {{ reply.content | safe_clean }}
        </div>
        {% if current_user.is_authenticated %}
        <span  style="position:absolute;bottom:0;right:20px"> 
            <a class="btn btn-sm" id="reply{{ reply.id }}" onclick="ReReplies(this)" title="回复{{ reply.author.name }} "style="font-size:12px;margin-right:10px;padding:0;">回复</a>
            {% if reply.id | judge('love') %}
            <a class="btn btn-sm" id="love{{ reply.id }}" onclick="Love(this)" title="取消赞" style="color:#2e609b;padding:2px 5px;">
                赞<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            {% else %}
            <a class="btn btn-sm" id="love{{ reply.id }}" onclick="Love(this)" title="赞一下" style="color:#000;padding:2px 5px;">
                赞<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            {% endif %}
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% include 'base/replies.html' %}
{% endblock %}
