<script type=text/javascript>
function preview(){
    $.post("{{ url_for('question.preview') }}", {
        content: $("#content").val(),
        choice: $("#choice").val()
    }, function(data) {
        $("#showPreview").html(data);
    });
}
$(document).ready(function(){
    $('button#ajax').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ request.path }}",
            data:JSON.stringify({
                title: $('#title').val(),
                content: $('#content').val(),
                tags: $('#tags').val(),
                choice: $('#choice').val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location = '{{ url_for('board.board') }}';
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
});
</script>
