{% extends 'index/base.html' %}
{% block title %}{{ tag }} - HonMaple{% endblock %}
{% block content %}
{% import 'base/link.html' as link %}
<style type="text/css" media="all">
    select {
        background-color: #fff;
        border-color: #c6c6c6;
        color: #141414;
    }
</style>
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('index.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li class="active">{{ tag }}</li>
</ol>
<div class="panel panel-default container-fluid" style="padding:0;">
    <div class="panel-heading" style="background:#2e609b;">
        <a href="{{ url_for('campus.tag',tag=tag) }}" style="color:#fff">{{ tag }}</a>
    </div>
    <div class="panel-heading" style="font-size:12px;">
        <div class="col-sm-9">
            筛选:
            {{ g.sortform.display() }}
            排序:
            {{ g.sortform.sort() }}
            {{ g.sortform.st() }}
        </div>
        <div class="col-sm-1">
            作者
        </div>
        <div class="col-sm-1">
            回复/查看
        </div>
        <div class="col-sm-1">
            最后发表
        </div>
        <br>
    </div>
    <div id="showsort">
        <div class="panel-body" style="padding:0 10px 0 25px;">
            {% for question in questions %}
            <div class="row" style="padding:5px 0;border-bottom:1px solid #f6e1e1;">
                <div class="col-md-9">
                    {% if question.category == '' %}
                    {{ link.link(question) }}
                    {% else %}
                    <a href="{{ url_for('campus.tag',tag=question.category) }}">[{{ question.category }}]</a>
                    {{ link.link(question) }}
                    {% endif %}
                </div>
                <div class="col-md-1 hidden-xs">
                    <a href="{{ url_for('user.index',user_url='question.author') }}" style="color:#333;">
                        {{ question.author }}
                    </a>
                    <div style="font-size:12px;color:#999;">
                        {{ question.time.strftime('%Y-%m-%d') }}
                    </div>
                </div>
                <div class="col-md-1 hidden-xs">
                    {% set read,rep = question.id | get_read_count %}
                    {{ rep }}
                    <div style="font-size:12px;color:#999;">
                        {{ read }}
                    </div>
                </div>
                <div class="col-md-1 hidden-xs">
                    <a href="{{ url_for('user.index',user_url=question.last_reply) }}" style="color:#333;">
                        {{ question.last_reply }}
                    </a>
                    <div style="font-size:12px;color:#999;">
                        {{ question.last_time.strftime('%Y-%m-%d') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="panel-body" style="padding:0 10px 0 25px;">
    <ul class="pager" style="margin:0;">
        {% if pages == 0 %}
        没有帖子
        {% else %}

        {% if number == 1 and pages ==1 %}
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        {% elif number == 1 and pages != 1 %}
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        <li class="next"><a href="{{ url_for('campus.tag',tag = tag,pid=number + 1) }}">下一页<span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        {% if number == pages %}
        <li class="previous"><a href="{{ url_for('campus.tag',tag = tag,pid=number-1) }}"><span aria-hidden="true">&larr;</span>上一页</a></li>
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        {% else %}
        <li class="previous"><a href="{{ url_for('campus.tag',tag = tag,pid=number-1) }}"><span aria-hidden="true">&larr;</span>上一页</a></li>
        <li style="color:#999;">{{ number }}/{{ pages }}</li>
        <li class="next"><a href="{{ url_for('campus.tag',tag = tag,pid=number + 1) }}">下一页<span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
        {% endif %}

        {% endif %}
    </ul>
</div>
</div>
{% endblock %}
