<div class="modal fade" id="sidecollect" tabindex="-1" role="dialog" aria-labelledby="sidecollectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sidecollectLabel">删除收藏夹</h4>
            </div>
            <div class="modal-body">
                <p>确认要删除收藏夹「flask相关」么？</p>
                注意：收藏夹下的收藏也会被删除！
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="sideform" class="btn btn-danger">删除</button>
            </div>
        </div>
    </div>
</div>
