{% extends 'maple/base.html' %}
{% block main -%}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>欢迎</h2>
            </div>
            <div class="panel-body">
                <input class="form-control" name="" type="text" value="" placeholder="请输入名字" />
                <br/>
                <input class="form-control" name="" type="text" value="" placeholder="请输入座右铭" />
                <br/>
                <input class="form-control" name="" type="file" value="" placeholder="请选择一张图片" />
            </div>
            <div class="panel-footer">
                <span class="pull-right">下一步</span>
                asad
            </div>
        </div>
    </div>
</div>
{%- endblock  %}
