<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%- block title -%}{%- endblock -%}</title>
        {% assets "home_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
        {% assets "home_css" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {%- endassets %}
        <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $("#showerror").hide();
    $('button#hide').click(function(){
        $("#showerror").hide();
    });
    var csrftoken = "{{ csrf_token() }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
});
        </script>
        <style type="text/css" media="all">
            li {
                list-style-type:circle;
            }
            img {
                width:120px;
            }
            .circle {
                height: 14px;
                width: 14px;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                background: #00796b;
                float: left;
                position: absolute;
            }
            .fortitle {
                color:#2e609b;
                border-bottom:2px solid #2e609b;
            }
            .basicle {
                font-weight:bold;
                color:#00796b;
            }
            .protitle {
                font-weight:bold;
                color:#00796b;
            }
            .protent {
                color:#616161;
            }
            .labelink {
                font-size:12px;
                color:#2e609b;
                border:1px solid #2e609b;
                border-radius: 5px;
                padding:1px 2px;
                text-decoration:none;
            }
            .line {
                border-left:2px solid #00796b;
                margin-left:5px;
            }
        </style>
    </head>
    <body style="background:#f8f8f8;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <span style="color:#fff">姜林的个人简历</span>
            </div>
            <div class="panel-body" style="border-bottom:1px solid #f6e1e1;font-size:15px;">
                <div class="row">
                    <div class="col-xs-4">
                        <section style="color:#616161;">  
                            <h3 class="fortitle">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                基本信息
                            </h3>  
                            <dl>
                                <dd>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="basicle">个人信息:</span>
                                <span>姜林/男</span>
                                </dd>
                                <dd>
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                <span class="basicle">教育经历:</span>
                                <span>本科/河海大学/物联网工程学院/自动化专业  2017届毕业生</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <span class="basicle">联系方式:</span>
                                </dt>
                                <dd>
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <span> <b>邮箱:</b>xiyang0807@gmail.com</span>
                                </dd>
                                <dd>
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                <span> <b>手机:</b>15061119391</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                <span class="basicle">技术博客</span></dt>
                                <dd>
                                <span><b>自建:</b> https://honmaple.com</span> <br>
                                <span><b>基于pelican:</b> http://honmaple.org</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                <span class="basicle">Github</span></dt>
                                <dd>
                                <span>https://github.com/honmaple</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                                <span class="basicle">期望岗位</span></dt>
                                <dd>
                                <span><b>web后端开发</b>(实习)</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                                <span class="basicle">期望城市</span></dt>
                                <dd>
                                <span><b>长三角及附近均可</b></span>
                                </dd>
                            </dl>
                        </section>
                        <section>  
                            <h3 class="fortitle">
                                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                                技能清单
                            </h3>  
                            <h4 class="protitle">后端</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <h4 class="protitle">Python</h4>
                                    <p class="protent">熟悉python基本语法，熟悉flask,BeautifulSoup,re等模块</p>
                                </li>
                                <li> 
                                    <h4 class="protitle">数据库</h4>
                                    <p class="protent">
                                    熟悉postgresql基本命令，熟练掌握sqlalchemy对数据的操作,熟悉redis基本缓存原理
                                    </p>
                                </li>
                                <li> 
                                    <h4 class="protitle">linux</h4>
                                    <p class="protent">
                                    使用linux单系统,了解linux基本命令，简单shell脚本,以及基础服务搭建,半年多建站经验,对自动化部署有一定了解;
                                    了解supervisor等工具的用法
                                    </p>
                                </li>
                            </ul>
                            <h4 class="protitle">前端</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <h4 class="protitle">HTML/CSS</h4>
                                    <p class="protent">了解html和css语法，能够看懂并对前端进行修改,掌握bootstrap的用法</p>
                                </li>
                                <li>
                                    <h4 class="protitle">javascript</h4>
                                    <p class="protent">了解javascript原生语法，能够掌握jquery库的操作,使用ajax与服务端交换数据</p>
                                </li>
                            </ul>
                            <h4 class="protitle">其他</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">熟练掌握markdown,使用markdown写博客</p>
                                </li>
                                <li> 
                                    <p class="protent">熟练使用git进行开发</p>
                                </li>
                                <li> 
                                    <p class="protent">熟练使用vim,了解vim基本命令</p>
                                </li>
                                <li> 
                                    <p class="protent">对c有一定了解</p>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-xs-8">
                        <section>  
                            <h3 class="fortitle">
                                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                                项目经验
                            </h3>  
                            <span class="circle"></span>
                            <ul class="line">
                                <li>
                                    <h4 class="protitle">河海大学论坛
                                        <a class="labelink" href="https://forums.honmaple.org" target="_blank">
                                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                            Demo
                                        </a>
                                    </h4>
                                    <div class="protent">
                                        <p>
                                        论坛后端基于flask,主数据库使用postgresql,部分统计信息 使用redis,使用sqlalchemy对数据进行操作;
                                        前端大部分采用bootstrap和jquery,少部分自己写的布局,表单提交均采用ajax
                                        </p>
                                        <p>目前完成的功能:用户注册,忘记密码,发帖,回复,签到,收藏,用户组以及用户权限管理等</p>
                                    </div>
                                    <img src="{{ url_for('static',filename='images/hohai.png') }}" alt="论坛">
                                </li>
                            </ul>
                            <span class="circle"></span>
                            <ul class="line">
                                <li>
                                    <h4 class="protitle">个人博客
                                        <a class="labelink" href="https://honmaple.com" target="_blank">
                                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                            Demo
                                        </a>
                                        <a class="labelink" href="https://github.com/honmaple/MapleBlog" target="_blank">
                                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                            源码
                                        </a>
                                    </h4>
                                    <div class="protent">
                                        <p>
                                        这是学习python及flask以来第一个较完整的项目,分为个人博客，自问自答，书籍查询模块
                                        </p>
                                        <p>个人博客采用markdown后台发表,有标签功能</p>
                                        <p>自问自答用来记录笔记(包括私人笔记功能)</p>
                                        <p>书籍查询中的书籍利用爬虫抓取自豆瓣读书</p>
                                    </div>
                                    <img src="{{ url_for('static',filename='images/blog.png') }}" alt="个人博客">
                                </li>
                            </ul>
                            <span class="circle"></span>
                            <ul class="line">
                                <li>
                                    <h4 class="protitle">爬虫相关
                                        <a class="labelink" href="https://github.com/honmaple/Python" target="_blank">
                                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                            源码
                                        </a>
                                    </h4>
                                    <div class="protent">
                                        <p>包括爬取学校新闻,学院公告,图书馆书籍查询,豆瓣读书爬取,ip代理爬取等</p>
                                    </div>
                                </li>
                            </ul>
                            <span class="circle"></span>
                    <ul class="line">
                        <li>
                        <h4 class="protitle">留言簿
                            <a class="labelink" href="https://github.com/honmaple/flask-word" target="_blank">
                                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                源码
                            </a>
                        </h4>
                        <div class="protent">
                            <p>使用flask,jquery,ajax等实现的简单留言簿,数据存储使用redis,表单提交使用ajax，实现局部刷新留言</p>
                        </div>
                        </li>
                    </ul>
                            <span class="circle"></span>
                            <ul class="line">
                                <li>
                                    <h4 class="protitle">上位机与下位机通信
                                        <a class="labelink" href="https://github.com/honmaple/upper" target="_blank">
                                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                            源码
                                        </a>
                                    </h4>
                                    <div class="protent">
                                        <p>上位机使用pyside编写的图形界面
                                        使用pyserial进行串口读写
                                        使用c编写下位机
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section>  
                            <h3 class="fortitle">
                                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                                个人经历及自我评价
                            </h3>  
                            <h4 class="protitle">2014.3~2014.7</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">自学了html/css,在此期间接触过asp,php</p>
                                </li>
                            </ul>
                            <h4 class="protitle">2014.7~2014.9</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">期间学了java,写过android</p>
                                </li>
                            </ul>
                            <h4 class="protitle">2014.9~2015.3</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">这期间折腾linux,学习linux命令,学习搭建各种服务</p>
                                </li>
                            </ul>
                            <h4 class="protitle">2015.3~2015.6</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">系统的自学了一遍linux的shell编程,并且接触了git，vim，markdown等开发利器</p>
                                </li>
                            </ul>
                            <h4 class="protitle">2015.6~至今</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p class="protent">
                                    学习python,利用python写了爬虫,跟着flask文档边学边写了个人博客网站,利用2016寒假写了河海大学论坛
                                    </p>
                                </li>
                            </ul>
                            <h4 class="protitle">自我评价</h4>
                            <span class="circle"></span>
                            <ul class="line">
                                <li> 
                                    <p>热爱自由，喜好编程,喜欢接触新事物，爱折腾
                                    </p>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
