{% extends 'index/base.html' %}
{% block title %}河海大学论坛{% endblock %}
{% block content %}
{% import 'base/link.html' as link %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
</ol>
<div class="row" style="margin:0">
    <div class="col-sm-3" style="padding:0 4px;">
        <div id="index" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#index" data-slide-to="0" class="active"></li>
                <li data-target="#index" data-slide-to="1"></li>
                <li data-target="#index" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox" >
                <div class="item active">
                    <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                    <div class="carousel-caption">
                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                    <div class="carousel-caption">
                        Hello HonMaple
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                    <div class="carousel-caption">
                        欢迎加入河海大学论坛
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:8px;">
            <div class="panel-heading" style="background:#2e609b;color:#fff;">
                学校通知
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {%- for school in schools %}
                    <li>
                        {{ link.question(school) }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="padding:0 4px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('forums.tag',tag='newest') }}" style="color:#fff;">最新帖子</a>
                <a href="{{ url_for('forums.tag',tag='hottest') }}" style="color:#fff;">热门帖子</a>
            </div>
            <div class="panel-body" style="padding-bottom:5px;">
                <ul style="margin:0;padding:0;">
                    {%- for question in questions %}
                    <li>
                        <span class="col-md-10" style="margin:0;padding:0;">
                            {% if question.group.name %}
                            <a href="{{ url_for('group.group',group=question.group.name) }}">[{{ question.group.name }}]</a>
                            {% else %}
                            <a href="{{ url_for('board.board',forums_url=question.board.board_f.enname_f) }}">[{{ question.board.chname_s }}]</a>
                            {% endif %}
                            {{ link.question(question) }}
                        </span>
                        <span class="col-md-2" style="align:right;font-size:12px;color:#999;margin:0;padding:0;">
                            {{ question.time.strftime('%Y-%m-%d') }}</span>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding:0 4px;">
        <div class="category" style="margin-bottom:8px;">
            <table  style="font-size:12px;" align="center">
                <tr>
                    {% set t,g,u = 1 | load_forums_count %}
                    <td style="border-right:1px solid #AACCEE;padding-right:10px;"><p>{{ t }}</p>主题</td>
                    <td style="border-right:1px solid #AACCEE;padding:0 10px;"><p>{{ g }}</p>群组</td>
                    <td style="padding-left:10px;"><p>{{ u }}</p>用户</td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('group.index') }}" style="color:#fff;">用户组</a>
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {% for club in clubs %}
                    <li>
                        <a href="{{ url_for('group.group',group=club.name) }}">{{ club.name }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" style="padding:0 4px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('forums.tag',tag='物联网') }}" style="color:#fff;">物联网学院</a>
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {%- for wulwxy in wulwxys %}
                    <li>
                        {{ link.question(wulwxy) }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding:0 4px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('forums.tag',tag='企业管理') }}" style="color:#fff;">企业管理学院</a>
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {%- for bs in bss %}
                    <li>
                        {{ link.question(bs) }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding:0 4px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('forums.tag',tag='机电') }}" style="color:#fff;">机电学院</a>
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {%- for jidian in jidians %}
                    <li>
                        {{ link.question(jidian) }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding:0 4px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#2e609b;">
                <a href="{{ url_for('forums.tag',tag='研究生') }}" style="color:#fff;">研究生相关</a>
            </div>
            <div class="panel-body">
                <ul style="padding:0;">
                    {%- for master in masters %}
                    <li>
                        {{ link.question(master) }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
