{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript" charset="utf-8">
 var sortData = {
     "type" : 'child_b',
     "page" : '{{ topics.page }}',
     "uid" : "{{ board.id }}"
 }
</script>
{{ super()}}
{% endblock %}
{% block content %}
{{ breadcrumb(hrefs={g.parent_b:url_for('board.board')},active=board.board)}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics,top_topics)}}
            {{ p_footer(topics,'board.board',dict(child_b=board.board))}}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {% set ask_url = url_for('topic.ask',boardId=board.id) %}
        {% include 'base/panel.html' %}
    </div>
</div>
{% endblock %}
