{% extends 'base/base.html' %}
{% block content %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
</ol>
{% for parent_board,child_boards in boards.items() %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{{ url_for('board.board',parent_b=parent_board)}}" style="color:#fff"> {{ parent_board }} </a>
    </div>
    {% from 'forums/board_base.html' import body as board_body %}
    {{ board_body(child_boards)}}
</div>
{% endfor %}
{% endblock %}
