{% extends 'index/base.html' %}
{% block title %}社区主页 - 河海大学论坛{% endblock %}
{% block content %}
{% import 'forums/panel.html' as panel %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('campus.campus',campus_url=g.campus_url) }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
</ol>
<div class="panel panel-default">
    {{ panel.header('news') }}
    {{ panel.body('news') }}
</div>
<div class="panel panel-default">
    {{ panel.header('academy') }}
    {{ panel.body('academy') }}
</div>
<div class="panel panel-default">
    {{ panel.header('club') }}
    {{ panel.body('club') }}
</div>
<div class="panel panel-default">
    {{ panel.header('forums') }}
    {{ panel.body('forums') }}
</div>
{% endblock %}
