{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active=_('Notices'))}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="pull-right btn btn-sm btn-default ingore-all" style="padding:0 5px">{{ _('mark all to is read')}}</button>
                {{ _('Notices') }}
            </div>
            {% if notices.items %}
            {% for notice in notices.items %}
            <div class="panel-body" style="border-bottom:1px solid #eee;">
                {% import 'base/notice.html' as notice_base %}
                {{ notice_base[notice.category](notice) }}
            </div>
            {% endfor %}
            {{ p_footer(notices, 'forums.notice')}}
            {% else %}
            <div class="panel-body">
                <span class="text-center" style="display:block;width:100%;color:#999">
                    {{ _('No Notices')}}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.index() }}
    </div>
</div>
{% endblock %}
