{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript" charset="utf-8">
 var sortData = {
     "type" : 'tags',
     "page" : '{{ topics.page }}',
     "uid" : "{{ tag.tagname }}"};
</script>
{{ super()}}
{% endblock %}
{% block content %}
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li><a href="{{ url_for('tag.tag') }}">所有标签</a></li>
    <li class="active">{{ tag.tagname }}</li>
</ol>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ tag.tagname }}
                {% if g.user.is_authenticated %}
                {% if current_user in tag.followers %}
                <button class="btn btn-sm btn-default tagfollow active" id="{{ tag.id}}" style="padding:0 5px">取消关注</button>
                {% else %}
                <button class="btn btn-sm btn-default tagfollow" id="{{ tag.id}}" style="padding:0 5px">关注</button>
                {% endif %}
                {% endif %}
            </div>
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics)}}
            {% if topics.pages > 1 %}
            <div class="panel-footer">
                {{paginate(topics, 'tag.tag',kw=dict(tag=tag.tagname))}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {% include 'base/panel.html' %}
    </div>
</div>
{% endblock %}
