{% extends 'base/base.html' %}
{% import 'base/link.html' as link %}
{% block content %}
{{ breadcrumb(active='所有用户')}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                所有用户
            </div>
            {% for user in users.items %}
            <div class="panel-body" style="border-bottom:1px solid #eee">
                {{ user.username }}
            </div>
            {% endfor %}
            {{ p_footer(users, 'forums.userlist')}}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'base/panel.html' %}
    </div>
</div>
{% endblock %}
