{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active=_('My Collects'))}}
<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">{{ link.collectlist() }}</li>
      <li role="presentation">{{ link.following_collect() }}</li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#addcollect">{{_('Create Collect')}}</button>
      </div>
      {% for collect in collects.items %}
      <div class="panel-body" style="border-bottom:1px solid #eee">
        <a href="{{ url_for('collect.collect',pk=collect.id)}}">{{ collect.name}}</a>
        {% if collect.is_hidden %}
        <span class="pull-right label label-default">{{_('Privacy')}}</span>
        {% else %}
        <span class="pull-right label label-default">{{_('Public')}}</span>
        {% endif %}
      </div>
      {% endfor %}
      {{ p_footer(collects,'collect.list')}}
    </div>
  </div>
  <div class="col-md-3" style="padding-left:0">
    {{ panel_base.collect() }}
  </div>
</div>
{% include "collect/create.html" %}
{% endblock %}
