{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active='关注的问题')}}
<div class="row">
    <div class="col-md-9"   style="background:#fff;border:1px solid #eee">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">{{ link_base.following_topic()}}</li>
            <li role="presentation">{{ link_base.following_tag()}}</li>
            <li role="presentation">{{ link_base.following_user()}}</li>
            <li role="presentation">{{ link_base.following_collect()}}</li>
        </ul>
        <div class="panel-panel-default">
            {% for topic in current_user.following_topics %}
            <div class="panel-body" style="border-bottom:1px solid #eee">
                <span style="float:right">
                    <button class="btn btn-sm btn-default topicfollow active" id="{{ topic.id}}" style="padding:0 5px">取消关注</button>
                </span>
                <p>{{ link_base.topic(topic)}}</p>
                {% for tag in topic.tags %}
                {{ link_base.tag(tag)}}
                {% endfor %}
            </div>
            {% endfor  %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {% include 'base/panel.html' %}
    </div>
</div>
{% endblock %}
