{% extends 'index/base.html' %}
{% block title %}HonMaple{% endblock %}
{% block content %}
<script type=text/javascript>
$(document).ready(function(){
    $('button#privacy').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ url_for('user.privacy') }}",
            data:JSON.stringify({
                online_status: $('#online_status').val(),
                topic_list: $('#topic_list').val(),
                rep_list: $('#rep_list').val(),
                ntb_list: $('#ntb_list').val(),
                collect_list: $('#collect_list').val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location = '{{ url_for('user.privacy') }}';
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
});
</script>
<style type="text/css" media="all">
    select {
        background-color: #fff;
        border-color: #c6c6c6;
        color: #141414;
    }
</style>
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li><a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
    <li><a href="{{ url_for('user.setting',user_url=current_user.name) }}">资料设置</a></li>
    <li class="active">隐私设置</li>
</ol>
    <div class="alert alert-info" id="showerror" style="padding:8px;">
        <button type="button" class="close" id="hide">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <li id="error"></li>
        </ul>
    </div>
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading" style="background:#2e609b;">
            <a href="{{ url_for('user.privacy') }}" style="color:#fff">隐私设置</a>
        </div>
        <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:0 10px;">
            <div class="form-horizontal" style="margin-top:10px;font-size:12px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">谁可以看我的在线状态</label>
                    <div class="col-sm-10">
                        {{ form.online_status(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">谁可以看我的主题列表</label>
                    <div class="col-sm-10">
                        {{ form.topic_list(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">谁可以看我的回复列表</label>
                    <div class="col-sm-10">
                        {{ form.rep_list(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">谁可以看我的笔记列表</label>
                    <div class="col-sm-10">
                        {{ form.ntb_list(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">谁可以看我的收藏列表</label>
                    <div class="col-sm-10">
                        {{ form.collect_list(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-sm btn-default" id="privacy">保存设置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    {% include 'user/user_panel.html'%}
</div>
{% endblock %}
