<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $('a#confirm_email').click(function(){
        $.post("{{ url_for('auth.confirm_email') }}",
                function(data) {
                    alert(data)
                });
    });
});
</script>
{% if not current_user.is_confirmed %}
<div class="alert alert-info" style="font-size:12px;padding:6px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    你的账户未验证,请尽快验证
    <a href="javascript:void(0)" id="confirm_email" class="btn btn-info btn-sm">验证账户</a>
</div>
{% endif %}
<div class="list-group" style="margin-bottom:10px;">
    <div class="list-group-item">
        <h4 class="list-group-item-heading text-center">{{ current_user.name }}</h4>
        {% if not current_user.is_confirmed %}
        <div class="text-center" style="font-size:12px;color:#999;">账户未验证</div>
        {% endif %}
        <table class="list-group-item-text" style="font-size:12px;color:#999;width:100%" align="center">
            <tr>
                {% set topic,all_topic,collect = current_user.id | load_user_count %}
                <td align="center" style="border-right:1px solid #AACCEE;padding-right:10px;">
                    <p style="font-size:16px;">{{ topic }}</p>主题</td>
                <td align="center" style="border-right:1px solid #AACCEE;padding:0 10px;">
                    <p style="font-size:16px;">{{ all_topic }}</p>帖子</td>
                <td align="center" style="padding-left:10px;">
                    <p style="font-size:16px;">{{ collect }}</p>收藏</td>
            </tr>
        </table>
    </div>
    <div class="list-group-item">
    </div>
    <div  class="list-group-item" style="font-size:12px;color:#999;">
        {% set notice = current_user.id | judge('notice') %}
        <a href="{{ url_for('user.notice',user_url=current_user.name) }}">{{ notice }}条未读提醒</a>
        <span style="float:right;">积分:{{ current_user.score }}</span> 
    </div>
</div>
<div class="list-group" style="font-size:12px;color:#999;margin-bottom:10px;">
    <div class="list-group-item">
        {% set daily = current_user.id | judge('daily') %}
        {% if daily %}
        <span>今日已签到</span>
        {% else %}
        <a href="{{ url_for('user.daily',user_url=current_user.name) }}">签到</a>
        {% endif %}
    </div>
</div>
