{% extends 'index/base.html' %}
{% block title %}HonMaple{% endblock %}
{% block content %}
<script type=text/javascript>
$(document).ready(function(){
    $('button#setting').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ url_for('user.setting',user_url=current_user.name,mode='setting') }}",
            data:JSON.stringify({
                introduce: $('#introduce').val(),
                school: $('#school').val(),
                word: $('#word').val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location = '{{ url_for('user.setting') }}';
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
    $('button#rnpasswd').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ url_for('user.setting',user_url=current_user.name,mode='password') }}",
            data:JSON.stringify({
                passwd: $('#passwd').val(),
                npasswd: $('#npasswd').val(),
                rpasswd: $('#rpasswd').val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location = '{{ url_for('auth.login') }}';
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
});
</script>
<style type="text/css" media="all">
    select {
        background-color: #fff;
        border-color: #c6c6c6;
        color: #141414;
    }
    .fl {
        border-bottom:3px solid #778087;
    }
</style>
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li> <a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
    <li class="active">资料设置</li>
</ol>
<div class="col-sm-9">
    <div class="alert alert-info" id="showerror" style="padding:8px;">
        <button type="button" class="close" id="hide">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <li id="error"></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background:#2e609b;">
            <a href="{{ url_for('user.setting') }}" style="color:#fff">资料设置</a>
        </div>
        <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:0 10px;">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom:0;">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ current_user.name }}</p>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0;">
                    <label class="col-sm-2 control-label">注册邮箱</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ current_user.email }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">个性签名</label>
                    <div class="col-sm-10">
                        {{ form.word(class="form-control input-sm",rows="2") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所在学校</label>
                    <div class="col-sm-10">
                        {{ form.school(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">个人介绍</label>
                    <div class="col-sm-10">
                        {{ form.introduce(class="form-control input-sm",rows="4") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-sm btn-default" id="setting">保存设置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            密码修改
        </div>
        <div class="panel-body" style="border-bottom:1px solid #f6e1e1;">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">原密码</label>
                    <div class="col-sm-10">
                        {{ passwd_form.passwd(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                        {{ passwd_form.npasswd(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">重复密码</label>
                    <div class="col-sm-10">
                        {{ passwd_form.rpasswd(class="form-control input-sm") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-sm btn-default" id="rnpasswd">更改密码</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    {% include 'user/user_panel.html'%}
    <div class="list-group">
        <div class="list-group-item">
            隐私设置
        </div>
        <div class="list-group-item">
            <table style="font-size:12px;width:100%">
                <tr>
                    <td style="color:#999;">在线状态</td>
                    <td style="padding-bottom:5px;">所有人</td>
                </tr>
                <tr>
                    <td style="color:#999;">主题列表</td>
                    <td style="padding-bottom:5px;">所有人</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url_for('user.privacy') }}" class="btn btn-sm btn-default" style="padding:2px 5px;">打开隐私设置</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
