{% extends 'index/base.html' %}
{% block title %}HonMaple{% endblock %}
{% block content %}
{% import 'base/link.html' as link %}
<style type="text/css" media="all">
 select {
     background-color: #fff;
     border-color: #c6c6c6;
     color: #141414;
 }
 .fl {
     border-bottom:3px solid #778087;
 }
 blockquote {
     font-size:12px;
     background:#f8f8f8;
     border:1px solid #999;
     border-radius:5px;
     padding-bottom:0;
 }
</style>
<ol class="breadcrumb" style="margin-bottom:0;">
    <li><a href="{{ url_for('forums.forums') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>社区首页</a></li>
    <li><a href="{{ url_for('user.index',user_url=current_user.name) }}">{{ current_user.name }}</a></li>
    <li class="active">提醒系统</li>
</ol>
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading" style="background:#2e609b;">
            提醒系统
        </div>
        {% for message in messages %}
        <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:0 10px;">
            {% if message.kind == 'letter' %}
            <p style="font-size:12px;color:#999;">
                {{ link.user(message.send_user) }}
                私信你
                <span>{{ message.create_time.strftime('%Y-%m-%d %H:%M') }}</span>
            </p>
            <p>
                {{ message.content }}
            </p>
            {% elif message.kind == 'love' %}
            <p style="font-size:12px;color:#999;">
                {{ link.user(message.send_user) }}
                赞了你的回复
                {{ link.question(message.reply.question) }}
                <span>{{ message.create_time.strftime('%Y-%m-%d %H:%M') }}</span>
            </p>
            {% elif message.kind == 'collect' %}
            <p style="font-size:12px;color:#999;">
                {{ link.user(message.send_user) }}
                收藏了你发布的主题{{ link.question(message.question) }}
                <span>{{ message.create_time.strftime('%Y-%m-%d %H:%M') }}</span>
            </p>
            {% else %}
            <p style="font-size:12px;color:#999;">
                {{ link.user(message.send_user) }}
                在{{link.question(message.reply.question)}}回复你
                <span>{{ message.create_time.strftime('%Y-%m-%d %H:%M') }}</span>
            </p>
            <p>
                {{ message.content}}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-3">
    {% include 'user/user_panel.html'%}
</div>
{% endblock %}
