{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active=_('All Topics')) }}
{% from 'topic/_list_macro.html' import form,body,no_topics %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {{ form() }}
            {% for topic in topics.items %}
            {{ body(topic) }}
            {% else %}
            {{ no_topics() }}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.topic_list() }}
    </div>
</div>
{% endblock %}
