{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript">
 var sortData = {
     "type" : 'parent_b',
     "page" : '{{ topics.page }}',
     "uid" : "{{ g.parent_b }}"};
</script>
{{ super()}}
{% endblock %}
{% block content %}
{{ breadcrumb(active=g.parent_b)}}
{% if topics.page == 1 %}
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ g.parent_b}}
    </div>
    {% from 'board/board_base.html' import body as board_body %}
    {{ board_body(boards)}}
</div>
{% endif %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics,top_topics)}}
            {{ p_footer(topics,'board.board')}}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.board_list() }}
    </div>
</div>
{% endblock %}
