{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active=board.name) }}
{% from 'board/_macro.html' import body %}
{% from 'topic/_list_macro.html' import form as topic_form %}
{% from 'topic/_list_macro.html' import body as topic_body %}
{% from 'topic/_list_macro.html' import no_topics %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="{{ url_for('forums.board',boardId=board.id) }}" style="color:#fff"> {{ board.name }} </a>
            </div>
            {{ body(board) }}
        </div>
        <div class="panel panel-default">
            {{ topic_form() }}
            {% for topic in topics.items %}
            {{ topic_body(topic) }}
            {% else %}
            {{ no_topics() }}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.board() }}
    </div>
</div>
{% endblock %}
