body {
    background:#f5f5f5;
}
.online {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    padding: 2px 5px 2px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #52bf1c;
    background: -moz-linear-gradient(top, #52bf1c 0%, #438906 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52bf1c), color-stop(100%,#438906));
    background: -webkit-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: -o-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: -ms-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: linear-gradient(top, #52bf1c 0%,#438906 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52bf1c', endColorstr='#438906',GradientType=0 );
}
a.tag {
    background:rgba(1,126,102,.08);
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}
a.item_node {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 10px 4px 10px;
    margin: 0px 5px 5px 0px;
    border-radius: 16px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    text-decoration: none;
}
.panel-heading h3{
    color:#555;
    font-size:14px;
    margin:0
}
.topic-content h1{
    font-size:30px;
    font-weight:bold;
}
.topic-content h2{
    font-size:26px;
    font-weight:bold;
}
.topic-content h3{
    font-size:22px;
    font-weight:bold;
}
.topic-content h4{
    font-size:18px;
    font-weight:bold;
}
.topic-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
.vote {
    font-size: 10px;
    line-height: 1;
    padding: 2px 8px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    color: #778;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
}
.rss {
    display:block;
    margin-bottom:20px;
}
.follow-panel {
    background-color:#fff;
    border-bottom:None;
}