{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript" charset="utf-8">
 var sortData = {
     "type" : 'tags',
     "page" : '{{ topics.page }}',
     "uid" : "{{ tag.tagname }}"};
</script>
{{ super()}}
{% endblock %}
{% block content %}
{{ breadcrumb(hrefs={_('All Tags'):url_for('tag.tag')},active=tag.tagname)}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body" style="border-bottom: 1px solid #ddd;">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ request.path }}">
                            <img class="media-object img-circle" src="{{ url_for('avatar',text=tag.tagname)}}" alt="avatar" style="width:56px;height:56px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><strong class="text-capitalize">{{ tag.tagname }}</strong></h4>
                        {% set summary = tag.summary %}
                        {% if summary -%}
                        {{ summary }}
                        {%- endif %}
                    </div>
                    <div class="media-right">
                        <span class="rss">
                            <a href="{{ url_for('tag.rss',tag=tag.tagname)}}">
                                <i class="icon-rss" style="padding:2px;white-space:nowrap;">Rss</i>
                            </a>
                        </span>
                        {% if g.user.is_authenticated %}
                        {% if current_user in tag.followers %}
                        <button class="btn btn-sm btn-default tagfollow active" id="{{ tag.id}}" style="padding:0 5px">取消关注</button>
                        {% else %}
                        <button class="btn btn-sm btn-default tagfollow" id="{{ tag.id}}" style="padding:0 5px">关注</button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics,top_topics)}}
            {{ p_footer(topics, 'tag.tag',kw=dict(tag=tag.tagname))}}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {% from 'tag/panel.html' import tag as tag_panel %}
        {{ tag_panel(tag) }}
    </div>
</div>
{% endblock %}
