{% macro ask(form) -%}
{{ base(form) }}
<div class="col-sm-offset-2 col-sm-10">
    {{ form.choice(class="input-sm pull-right",style="padding:2")}}
    <button class="btn btn-sm btn-primary" type="submit">提交问题</button>
    <button class="btn btn-sm btn-primary" id="topic-preview" type="button">预览</button>
</div>
<div class="col-sm-offset-2 col-sm-10 topic-content" id="show-preview">
</div>
{%- endmacro %}

{% macro edit(form) -%}
{{ base(form) }}
<div class="col-sm-offset-2 col-sm-10">
    {{ form.choice(class="input-sm pull-right",style="padding:2")}}
    <button class="btn btn-sm btn-primary" id="topic-put-btn" type="button">提交问题</button>
    <button class="btn btn-sm btn-primary" id="topic-preview" type="button">预览</button>
</div>
<div class="col-sm-offset-2 col-sm-10 topoc-content" id="show-preview">
</div>
{%- endmacro %}

{% macro base(form) -%}
{% import 'topic/_placeholder.html' as place %}
<div class="row" style="padding:0;margin:0;">
    <div class="col-sm-2">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="control-label") }}
        {{ place.title() }}
    </div>
    <div class="col-sm-10" style="margin-bottom:8px;">
        {{ form.title(class="form-control") }}
    </div>
</div>
<div class="col-sm-2">
    {{ form.category.label(class="control-label") }}
    {{ place.category() }}
</div>
<div class="col-sm-10" style="margin-bottom:8px;">
    {{ form.category(class="form-control") }}
</div>
<div class="col-sm-2">
    {{ form.tags.label(class="control-label") }}
    {{ place.tags() }}
</div>
<div class="col-sm-10" style="margin-bottom:8px;">
    {{ form.tags(class="form-control",id="tokenfield",placeholder="节点请以英文逗号隔开.请勿输入超过4个节点") }}
</div>
<div class="col-sm-2">
    {{ form.content.label(class="control-label") }}
    {{ place.content() }}
</div>
<div class="col-sm-10" style="margin-bottom:8px;">
    {{ form.content(class="form-control",rows="8",onchange="preview()",placeholder="请输入问题描述") }}
</div>
{%- endmacro %}
