{% extends 'base/base.html' %}
{% block script -%}
{{ super() }}
<script type="text/javascript">
 AskTopic("{{ url_for('topic.preview') }}")
</script>
{%- endblock script %}
{% block content %}
<style>
 .tokenfield .token {
     border: 1px solid #5cb85c;
     background-color: #5cb85c;
     color:#eee;
 }
</style>
{{ breadcrumb(active=_('Ask'))}}
<div class="panel panel-primary">
    <div class="panel-heading">{{ _('Ask') }}</div>
    <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:10px 0;">
        <div class="row" style="margin:0;padding:0;">
            <form action="{{ url_for('topic.post') }}" method="POST">
                {% from 'topic/_form.html' import ask %}
                {{ ask(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
