{% extends 'base/base.html' %}
{% block script -%}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function(){
     $('#topic-preview').click(function() {
         var content = $('#content').val();
         $.post("{{ url_for('topic.preview') }}", {
             content: $("#content").val(),
             choice: $("#choice").val()
         }, function(data) {
             $("#show-preview").html(data);
         });
     });
     $('#tokenfield').tokenfield({
         limit:4
     });
     $('#topic-put-btn').click(function() {
         var form_data = $("form#topic-put").serializeArray();
         var data = {};
         $.each(form_data,function() {
             data[this.name] = this.value;
         })
         data = JSON.stringify(data);
         $.ajax ({
             type : "PUT",
             url : '{{ url_for('topic.topic',topicId=topic.uid) }}',
             data:data,
             contentType: 'application/json;charset=UTF-8',
             success: function(result) {
                 if (result.judge === true) {
                     window.location.href= '{{ url_for('topic.topic',topicId=topic.uid)}}';
                 }else {
                     alert(result.error);
                 }
             }
         })
     })
 });
</script>
{%- endblock script %}
{% block content %}
{{ breadcrumb(active='编辑')}}
<style>
 .tokenfield .token {
     border: 1px solid #5cb85c;
     background-color: #5cb85c;
     color:#eee;
 }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ _('Edit' )}}
    </div>
    <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:10px 0;">
        <div class="row" style="margin:0;padding:0;">
            <form id="topic-put">
                {% from 'topic/_form.html' import edit %}
                {{ edit(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
