{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb(active='编辑')}}
<style>
 .tokenfield .token {
     border: 1px solid #5cb85c;
     background-color: #5cb85c;
     color:#eee;
 }
</style>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{ _('Edit' )}}
  </div>
  <div class="panel-body" style="border-bottom:1px solid #f6e1e1;padding:10px 0;">
    <div class="row" style="margin:0;padding:0;">
      <form id="topic-put">
        {% include "topic/ask/form.html" %}
        <div class="col-sm-offset-2 col-sm-10">
          {{ form.content_type(class="input-sm pull-right",style="padding:2")}}
          <button class="btn btn-sm btn-primary" id="topic-put-btn" type="button" data-id="{{ topic.id }}">提交问题</button>
          <button class="btn btn-sm btn-primary" id="topic-preview" type="button">预览</button>
        </div>
        <div class="col-sm-offset-2 col-sm-10 topoc-content" id="show-preview"></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
