{% macro view(topics,top_topics) -%}
<style>
 select {
     background-color: #fff;
     border-color: #c6c6c6;
     color: #141414;
 }
</style>
{% from 'base/link.html' import user %}
<div class="panel-heading" style="font-size:12px;">
    {{ form() }}
</div>
{% set ts = topics.items %}
<div class="top-topiclist">
    {% set topics = top_topics %}
    {% include 'topic/topic_list_base.html' %}
</div>
<div class="topiclist">
    {% set topics = ts %}
    {% if not topics and not top_topics %}
    <div class="panel-body">
        <span class="text-center" style="display:block;width:100%;color:#999">
            {{ _('No Topic')}}
        </span>
    </div>
    {% else %}
    {% include 'topic/topic_list_base.html' %}
    {% endif %}
</div>
{%- endmacro %}

{% macro view_no_form(topics,top_topics) -%}
<div class="panel-heading" style="font-size:12px;">
    <div class="row">
        <div class="col-sm-6">
            {{ _('Good Topics')}}
        </div>
        <div class="col-sm-2 hidden-xs">
            {{ _('Author') }}
        </div>
        <div class="col-sm-2 hidden-xs">
            {{_('Replies/Read')}}
        </div>
        <div class="col-sm-2 hidden-xs">
            {{_('Last reply')}}
        </div>
    </div>
</div>
{% set ts = topics.items %}
<div class="top-topiclist">
    {% set topics = top_topics %}
    {% include 'topic/topic_list_base.html' %}
</div>
<div class="topiclist">
    {% set topics = ts %}
    {% include 'topic/topic_list_base.html' %}
</div>
{%- endmacro %}

{% macro form() %}
<div class="row">
    <div class="col-sm-6">
        {{_('Choice:')}}
        {{ g.sort_form.display() }}
        {{ _('Order:')}}
        {{ g.sort_form.sort() }}
        {{ g.sort_form.st() }}
    </div>
    <div class="col-sm-2 hidden-xs">
        {{ _('Author') }}
    </div>
    <div class="col-sm-2 hidden-xs">
        {{_('Replies/Read')}}
    </div>
    <div class="col-sm-2 hidden-xs">
        {{_('Last reply')}}
    </div>
</div>
{% endmacro %}
