{% extends 'base/base.html' %}
{% block script %}
<script type="text/javascript" charset="utf-8">
 var sortData = {
     "type" : 'all',
     "page" : '{{ topics.page }}',
     "uid" : ""
 }
</script>
{{ super()}}
{% endblock %}
{% block content %}
{{ breadcrumb(hrefs={_('All Topics'):url_for('topic.topic')},active=_('Good Topics'))}}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {% from 'topic/topic_list.html' import view as board_view %}
            {{ board_view(topics)}}
            {{ p_footer(topics,'topic.topic')}}
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.topic_list() }}
    </div>
</div>
{% endblock %}
