{% extends 'base/base.html' %}
{% import 'base/link.html' as link %}
{% block content %}
{% from 'setting/_macro.html' import title %}
{{ breadcrumb(active= _('Privacy '))}}
<div class="row">
    <div class="col-md-3" style="padding-right:0">
        {{ title('privacy') }}
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{_('Privacy ')}}
            </div>
            <div class="panel-body" style="border-bottom:1px solid #f6e1e1;">
                <form action="{{ url_for('setting.privacy')}}" method="POST">
                    {% from 'base/form.html' import forms %}
                    {{ forms(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
