<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="pull-right">
            {{_('Sort:')}}
            <div class="btn-group btn-group-xs" role="group">
                {% if request.args.get('orderby') == 'score' %}
                <a href="{{ url_for('user.follower',orderby='publish')}}" class="btn btn-default">{{_('time')}}</a>
                <a href="{{ url_for('user.follower',orderby='score')}}" class="btn btn-default active">{{_('score')}}</a>
                {% else %}
                <a href="" class="btn btn-default">{{_('time')}}</a>
                <a href="{{ url_for('user.follower',orderby='score')}}" class="btn btn-default active">{{_('score')}}</a>
                {% endif %}
            </div>
        </span>
    </div>
    {% if followers.items -%}
    {% for follower in followers.items %}
    <div class="panel-body" style="border-bottom:1px solid #eee">
        {{ link_base.user(follower.username) }}
    </div>
    {% endfor  %}
    {{ p_footer(followers,'user.follower')}}
    {% else %}
    <div class="panel-body text-center">
    {{_('No Follower')}}
    </div>
    {%- endif %}
</div>
