<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span style="float:right">
            {{_("Sort:")}}
            <div class="btn-group btn-group-xs" role="group">
                {% if request.args.get('orderby') == 'like' %}
                <a href="{{ url_for('user.reply',orderby='publish')}}" class="btn btn-default">{{_('time')}}</a>
                <a href="{{ url_for('user.reply',orderby='like')}}" class="btn btn-default active">{{_('likers')}}</a>
                {% else %}
                <a href="" class="btn btn-default active">{{_('time')}}</a>
                <a href="{{ url_for('user.reply',orderby='like')}}" class="btn btn-default">{{_('likers')}}</a>
                {% endif %}
            </div>
        </span>
    </div>
    {% if replies.items %}
    {% if setting.rep_list == 1 or (g.user.is_authenticated and setting.rep_list == 2) or (g.user.is_authenticated and g.user.username == g.user_url) %}
    {% for reply in replies.items %}
    <div class="panel-body" style="border-bottom:1px solid #eee">
        <span style="font-size:12px;color:#999;">
            {{_('replied %(title)s created by %(author)s',title=link_base.topic(reply.topic),author = link_base.user(reply.author))}}
        </span>
        <p>{{ reply.content | safe_clean }}</p>
        <span style="font-size:12px;color:#999;">
            {{_('replied time:')}}{{ reply.publish | timesince }}
        </span>
    </div>
    {% endfor  %}
    {{ p_footer(replies,'user.reply')}}
    {% else %}
    <div class="panel-body" style="border:1px dashed #337ab7;margin:5px;">
        <span class="text-center" style="display:block;width:100%;color:#999">
            <span class="glyphicon glyphicon-lock" aria-hidden="true" style="font-size:16px;"></span>
            {{_("Due to user's setting,the list have been hidden.")}}
        </span>
    </div>
    {% endif %}
    {% else %}
    <div class="panel-body text-center">
        {{_('No Reply')}}
    </div>
    {% endif %}
</div>
