{% extends 'base/base.html' %}
{% block content %}
<script type="text/javascript">
 $(document).ready(function(){
     var urlType = '{{type}}';
     if (urlType == 'topic'){
         $('li.topics').addClass('active');
     }else if(urlType == 'reply')
     {
         $('li.replies').addClass('active');
     }else if(urlType == 'collect')
     {
         $('li.collects').addClass('active');
     }else if(urlType == 'collect_detail')
     {
         $('li.collects').addClass('active');
     }else if(urlType == 'notebook')
     {
         $('li.notebooks').addClass('active');
     }else if(urlType == 'follower')
     {
         $('li.followers').addClass('active');
     }
 });
</script>
{% import 'base/link.html' as link_base %}
{% from 'base/paginate.html' import footer as p_footer %}
{{ breadcrumb(active=g.user_url)}}
<div class="row">
    <div class="col-md-3" style="padding-right:0;">
        {% set user = g.user_url | get_user_infor %}
        {% include 'user/infor.html' %}
        <div  style="background:#fff;border:1px solid #ddd;border-radius:5px">
            {% if g.user.is_authenticated and current_user.username == g.user_url %}
            <ul class="nav nav-pills nav-stacked ">
                {% set class_list = ['topics','replies','collects','followings','followers'] %}
                {% set href_list = ['user.topic','user.reply','user.collect','user.following','user.follower'] %}
                {% set show_list = ['我的主题','我的回复','我的收藏','我的关注','我的粉丝'] %}
                {{ nav_list(class_list,href_list,show_list)}}
            </ul>
            {% else %}
            <ul class="nav nav-pills nav-stacked" >
                <li role="presentation" class="topics"><a href="{{ url_for('user.topic')}}">{{ g.user_url}}的主题</a></li>
                <li role="presentation" class="replies"><a href="{{ url_for('user.reply')}}">{{ g.user_url}}的回复</a></li>
                <li role="presentation" class="collects"><a href="{{ url_for('user.collect')}}">{{ g.user_url}}的收藏</a></li>
                <li role="presentation" class="followers"><a href="{{ url_for('user.follower')}}">{{ g.user_url}}的粉丝</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        {% set setting = user.setting %}
        {% include "user/" + type + ".html" %}
    </div>
</div>
{% endblock %}

{% macro nav_list(class,href,show) -%}
{% set len = class | length %}
{% for i in range(len) %}
<li role="presentation" class="{{ class[i] }}"><a href="{{ url_for(href[i])}}">{{show[i]}}</a></li>
{% endfor %}
{%- endmacro %}
