{% from 'reply/_macro.html' import title %}
{% from 'reply/_macro.html' import body %}
{% from 'reply/_macro.html' import reply_form %}
{% from 'base/paginate.html' import footer as p_footer %}
<style>
 .like-active {
     color:#a40004;
 }
 .like-no-active {
     color:#ccc;
 }
 .reply-order a{
     padding: 1px 2px;
     color: #778087;
     text-decoration: none;
     font-size:13px;
 }
 .reply-count {
     font-size:12px;
     color:#999;
 }
 .reply-content a {
     color:#778087;
 }
</style>
{% set topicId = request.args.get('topicId') %}
<div class="panel panel-default">
    {{ title(topicId,replies) }}
    {% set num = 1 %}
    {% for reply in replies.items %}
    {{ body(reply) }}
    {% set num = num + 1 %}
    {% else %}
    <div class="panel-body">
        <span class="text-center" style="display:block;width:100%;color:#999">
            {{_('no replies')}}
        </span>
    </div>
    {% endfor %}
    {{ p_footer(replies,'topic.topic',dict(topicId=topicId))}}
</div>
{{ reply_form(form) }}
