{% extends 'base/base.html' %}

{% block content %}
  {% from 'forums/_macro.html' import forums_title,forums_item %}
  {% from 'topic/_list_macro.html' import form as topic_form %}
  {% from 'topic/_list_macro.html' import body as topic_body %}
  {% from 'topic/_list_macro.html' import no_topics %}
  {{ breadcrumb() }}
  {{ forums_title() }}
  {{ forums_item() }}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        {{ topic_form() }}
        {% if topics.items  %}
          {% for topic in topics.items %}
            {{ topic_body(topic) }}
          {% endfor %}
        {% else %}
          {{ no_topics() }}
        {% endif %}
        <div class="panel-footer clearfix">
          <a class="pull-right" href="{{ url_for('topic.good')}}">
            {{ _('more good topics') }}
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
      {{ panel_base.index() }}
    </div>
  </div>
{% endblock %}
