{% extends 'base/base.html' %}
{% block content %}
{{ breadcrumb() }}
{% cache 60 %}
{{ index_title() }}
<div class="row hidden-sm hidden-xs">
    {{ item(_('Forums'),url_for('forums.forums'),"icon-comments","#F86334")}}
    {{ item(_('Wiki'),url_for('docs.docs'),"icon-book","#eeccaa")}}
    {{ item(_('Blog'),'#',"icon-tasks")}}
    {{ item(_('Good'),url_for('topic.good'),"icon-globe","#017e66")}}
</div>
{% endcache %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            {% from 'topic/topic_list.html' import view_no_form as board_view %}
            {{ board_view(topics,top_topics)}}
            <div class="panel-footer clearfix">
                <a class="pull-right" href="{{ url_for('topic.good')}}">
                    {{ _('more good topics') }}
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="padding-left:0">
        {{ panel_base.index() }}
    </div>
</div>
{% endblock %}
{% macro index_title() -%}
<div class="panel panel-default hidden-xs">
    <div class="panel-body" style="text-align: center;">
        <div class="media" style="width: 480px; margin:0px auto; text-align: left;">
            <div class="media-left">
                <i class="icon-gift media-object" style="font-size: 55px; width: 55px; color: #333;"></i>
            </div>
            <div class="media-body" style="line-height: 200%; text-align: center;">
                <div style="font-size: 15px">
                    Honmaple {{ _('Office Source Code')}} <a href="https://github.com/honmaple/maple-bbs" target="_blank">Honmaple</a>
                </div>
                <div>
                    <code style="padding: 4px 10px;">git clone git@github.com:honmaple/maple-bbs.git</code>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro item(name,url,icon,color="#337ab7") %}
<div class="col-md-3">
    <div class="panel panel-default">
        <a href="{{ url }}">
            <div class="panel-body text-center">
                <i class="{{ icon }}" style="font-size:55px;color:{{ color }}"></i>
            </div>
        </a>
        <a href="{{ url }}">
            <div class="panel-footer">
                {{ name }}
                <i class="pull-right icon-arrow-right"></i>
            </div>
        </a>
    </div>
</div>
{%- endmacro %}
