{% extends 'base/base.html' %}
{% block content %}
{% from 'mine/_macro.html' import user_title,nav_list %}
{{ breadcrumb(hrefs={_('UserList'):url_for('user.list')},active=user.username) }}
<div class="row">
    <div class="col-md-3" style="padding-right:0;">
        {% set setting = user.setting %}
        {{ user_title(user) }}
        <div  style="background:#fff;border:1px solid #ddd;border-radius:5px">
            {% if g.user.is_authenticated and g.user.username == user.username %}
            {{ nav_list('collect',user.username)}}
            {% else %}
            {{ nav_list('collect',user.username)}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        {% include "mine/_collect_macro.html" %}
    </div>
</div>
{% endblock %}
